{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style= "color:blue ; font-size: 50px;" >STUDENTS SIGNUP PAGE</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint sequi earum sit officia molestias vitae ex. Nostrum ipsam esse dolor similique! Earum libero at nam quisquam in eveniet voluptatibus fuga dolorum deserunt, inventore incidunt numquam doloribus beatae temporibus illo ipsa facilis modi vitae maiores totam eaque quod. Aliquam est consequatur dolores maiores deserunt. Molestiae fugit accusantium dignissimos, illo veritatis corporis praesentium nemo quidem ab totam eum perspiciatis quasi rem nobis, cumque deleniti possimus suscipit maiores? Sit nisi praesentium nesciunt illum totam debitis ad, porro autem. Accusamus, veritatis quis maxime ullam odio repellendus autem dolor vitae, culpa voluptatem impedit alias error.</h2>
<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, vero ipsum doloribus sapiente architecto qui vel fugit consectetur laudantium, rerum, cum ab veniam. Excepturi nihil doloremque vel suscipit perspiciatis ullam quae error temporibus cupiditate? Vel eos alias, ex exercitationem dicta quaerat facere nesciunt cumque hic ipsum reprehenderit necessitatibus assumenda quo architecto, quis animi similique ab distinctio eius velit officiis sit quae veniam. Incidunt exercitationem ipsum ab ipsam, quas repudiandae sit quisquam, dolorem amet magnam voluptatem vero consequatur voluptates facilis numquam.</h3>
<br> <br></BR> <h1><i><u><center>THANKS FOR VISIT</center></u></i></h1>
<img src="{% static 'image/123.jpeg' %}">
<a href="{% url 'student:leagel' %}">MY ORDERS</a>
</body>
</html>