<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="font-size:60PX ;"><b><i><u>WELCOME</u></i></b></h1>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Ipsam ratione exercitationem perferendis et totam cupiditate. Temporibus voluptatum cum officia cumque.
    <h2 style="color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolore atque labore eos iste. Impedit nulla, quod harum, blanditiis architecto sequi minus expedita laborum deserunt laudantium aperiam rem veritatis, magnam quo repellat nostrum fugiat molestiae doloremque tempore id! Laborum blanditiis sapiente saepe quos officiis odio maiores unde cupiditate neque ut.
    </h2>
    
    </div>
    
</body>
</html>